@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  @font-face {
    font-family: vazir;
    font-weight: 400;
    src: url('../../public//fonts/vazir//Vazir.woff2') format("woff");
  }
  @font-face {
    font-family: tanha;
    font-weight: 400;
    src: url('../../public/fonts/tanha/Tanha.woff2') format("woff");
  }
  @font-face {
    font-family: logo1;
    font-weight: 400;
    src: url('../../public/fonts//aquire-font/Aquire-BW0ox.otf') format("woff");
  }
  @font-face {
    font-family: logo2;
    font-weight: 400;
    src: url('../../public/fonts/lemon/LemonJellyPersonalUse.woff2') format("woff");
  }
}


.flexyRow{
  @apply flex justify-center items-center
}

.flexyCol{
  @apply flex justify-center items-center flex-col
}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;


}

