@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  @font-face {
    font-family: vazir;
    font-weight: 400;
    src: url('../../public//fonts/vazir//Vazir.woff2') format("woff");
  }
  @font-face {
    font-family: tanha;
    font-weight: 400;
    src: url('../../public/fonts/tanha/Tanha.woff2') format("woff");
  }
  @font-face {
    font-family: logo;
    font-weight: 400;
    src: url('../../public/fonts//aquire-font/Aquire-BW0ox.otf') format("woff");
  }
}



