.clipPath{
 
    transition: .600s ease-in-out;
}
.aa{
/* display: none; */
height: 0;
overflow: hidden;
transition: .600s ease-in-out;

}
.bb{
 /* display: flex; */
 height: auto;
 flex-direction: column;

}